# Mythril and its specific dependencies
mythril==0.23.15
eth-abi<3.0.0,>=2.0.0b4
eth-typing<4.0.0,>=3.3.0
eth-utils<2.0.0,>=1.9.0
eth-account<0.6.0,>=0.5.7
eth-hash<0.3.0,>=0.2.0
hexbytes<0.3.0,>=0.2.0 